@import "tailwindcss";

/* html {
    -webkit-text-size-adjust: 100%;
}
body {
    overflow-y: scroll;
    font-family: 'Poppins';
}
*{
    margin:0px;
    padding:0px; 
    vertical-align:top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* For Firefox. */
  /* * {
    scrollbar-width: none;
  } */
  body {
    overflow-y: scroll;
    font-family: "Poppins";
    background-color: #fafafa;
  }

  /* For WebKit (Chrome & Safari). */
  /* ::-webkit-scrollbar {
    display: none;
  } */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.7s ease-out forwards;
}

.container {
  @apply px-2 sm:px-5 lg:px-9 xl:px-14 pb-3 sm:pb-6 md:pb-8 lg:pb-14 pt-12 sm:pt-16 lg:pt-24 xl:pt-28 m-auto max-w-[1600px];
}
.title-color {
  @apply text-[#213343];
}
.bg-gray {
  @apply bg-[#f3f2ea];
}
.bg-orange {
  @apply bg-[#ffe2b2];
}
.bg-pink {
  @apply bg-gradient-to-br from-pink-100 via-purple-50 to-pink-200;
}
.blue-font {
  @apply bg-gradient-to-b from-[#2daeb7] to-[#2aa9ad] bg-clip-text text-transparent;
}
.section-title {
  @apply font-bold text-[22px] sm:text-2xl lg:text-3xl xl:text-4xl space-y-2;
}
.banner-title {
  @apply font-bold text-[24px] sm:text-3xl lg:text-4xl xl:text-5xl space-y-2;
}
.logo-font {
  @apply font-semibold text-white text-lg md:text-2xl lg:text-3xl;
}
.desc {
  @apply text-[13px] sm:text-sm text-[#645d5d] font-normal;
}
.button {
  @apply bg-black relative z-10  overflow-hidden rounded-3xl text-[14px] px-7 py-3 text-white cursor-pointer;
}
.mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 00px);
}
.mySwiper .swiper-pagination-bullet-active {
  border-radius: 10px;
  width: 26px;
  height: 8px;
  transition: 0.2s width ease;
}
.swiper-slide.swiper-slide-active {
  scale: 1;
  height: auto;
}
.swiper-slide.swiper-slide-active .card_img {
  @apply w-50 h-50;
}
.swiper.swiper-initialized.swiper-horizontal.mySwiper {
  @apply sm:-mx-0 px-2 sm:px-3 md:px-0 md:-mx-[100px] lg:-mx-[200px] xl:-mx-[550px];
}
.swiper.swiper-initialized.swiper-horizontal.mySwiper
  .swiper-slide.swiper-slide-active
  .testi_parent {
  @apply w-full flex-1;
}
.swiper.swiper-initialized.swiper-horizontal.mySwiper
  .swiper-slide
  .testi_parent {
  @apply w-auto h-full;
}
.react-tel-input .form-control,
.flag-dropdown {
  border: 1px solid !important ;
}
.swiper-wrapper {
  @apply items-stretch;
}

.main_image {
  position: relative;
  display: block;
}
.bg_full {
  background: no-repeat 50% 50%;
  overflow: hidden;
  background-size: cover;
}
.bg_full {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.button span {
  @apply mx-2;
}

.button::before {
  content: "";
  text-align: center;
  z-index: -1;
  border-radius: 50%;
  width: 100%;
  height: 20em;
  transition: box-shadow 0.5s ease-out;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover {
  @apply text-white border-[#2fb0b9] shadow-2xl;
}

.button:hover::before {
  box-shadow: inset 0 0 0 10em #2890f1;
}
.button.button-hover-black:hover::before {
  box-shadow: inset 0 0 0 10em black !important;
}
.testimonial-slide {
  width: 80%; /* Control slide width */
  height: auto !important;
}

.swiper-slide-active .testimonial-slide {
  transform: scale(1.05);
  z-index: 10;
}
.swiper-slide-shadow-left.swiper-slide-shadow-coverflow {
  background-image: none;
}
.mydev .swiper-3d .swiper-slide-shadow-left,
.mydev .swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}
.mydev .swiper-3d {
  padding: 15px 0px;
}
.swiper-pagination-custom .swiper-pagination-bullet {
  background-color: #23969d9c;
  transition: 0.3s ease all;
}
.swiper-pagination-custom
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #23969d;
  height: 6px;
  width: 44px;
  border-radius: 12px;
}
.nav {
  height: auto;
  background: #000000c5;
  box-shadow: 0px 0px 10px 1px #00000036;
  z-index: 100;
  border: solid #ffffff30;
  border-width: 1px;
  position: fixed;
  width: 80%;
  left: 10%;
  border-radius: 10px;
  top: 3%;
  backdrop-filter: blur(5px);
  align-items: center;
  padding: 14px 1rem;
  justify-content: space-between;
}
